{% extends "user.html" %}
<!-- changepw.html -->
{% load i18n %}
{% block head %}{% endblock %}
{% block title %}{% spaceless %}{% trans "Authentication settings" %}{% endspaceless %}{% endblock %}
{% block usercontent %}
<h2>{% trans "Authentication settings" %}</h2>
{% if auth_keys %}
    <div>
        {% for key in auth_keys %}
            <p class="message">You are authenticated via {{ key.name }}</p>
        {% endfor %}
    </div>
{% endif %}
{% if not auth_keys %}
    <p class="message">{% blocktrans %}You currently have no external authentication provider associated with your account.{% endblocktrans %}</p>
{% endif %}
{% endblock %}
<!-- end changepw.html -->
