<!-- template header.html -->
{% load extra_tags %}
{% load i18n %}
	<div id="roof">
		<div id="navBar">
	  <div class="topMenu">
			<div id="topLinks">
			<div id="top">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="{% url admin_index %}">{% trans "administration" %}</a>   
                    {% endif %}
                    <a href="{{ request.user.get_profile_url }}">{{ request.user.username }}</a> {% get_score_badge request.user %} 
                    <a href="{% url logout %}">{% trans "logout" %}</a>
                {% else %}
                    <a href="{% url auth_signin %}">{% trans "login" %}</a>
                {% endif %}
                <a href="{% url about %}">{% trans "about" %}</a>
                <a href="{% url faq %}">{% trans "faq" %}</a>
			</div>
			</div>
			<div id="topSearch">
			<div id="searchBar">
        <form action="{% url search %}" method="get">
            <div class="searchDiv">
                <input type="text" class="searchInput" value="{{ keywords }}" name="q" id="keywords" />
                <input type="submit" name="Submit" value="{% trans "search" %}" class="searchBtn" />
                <img src="{% media "media/images/1.gif" %}" id="searchBtnLine" alt="" />
                <a href="#searchOptions" id="searchTrigger" onclick="return TogglePopupPanel('searchButtons');;"><img src="{% media "media/images/1.gif" %}" alt="" /></a>
                <div id="searchPopupWrapper">
                  <div id="searchButtons">
                    <input type="submit" name="Submit" value="in questions" id="questionsBtn" onclick="triggerSearchType('type-question');" />
                    <input type="submit" name="Submit" value="tags" id="tagBtn" onclick="triggerSearchType('type-tag');" />
                    <input type="submit" name="Submit" value="users" id="userBtn" onclick="triggerSearchType('type-user');" />
                  </div>
                </div>
                </div>
                <div class="options">
                    <input id="type-question" type="radio" value="question" name="t" checked="checked" /><label for="type-question">{% trans "questions" %}</label>
                    <input id="type-tag" type="radio" value="tag" name="t" /><label for="type-tag">{% trans "tags" %}</label>
                    <input id="type-user" type="radio" value="user" name="t" /><label for="type-user">{% trans "users" %}</label>
                </div>
            </form>
<script type="text/javascript">
  function triggerSearchOptions (element) {
		if (document.getElementById('searchButtons').style.display != 'block') document.getElementById('searchButtons').style.display = 'block'
		else document.getElementById('searchButtons').style.display = 'none';
	}
	function triggerSearchType (id) {
		document.getElementById(id).checked = 'checked';
	}
</script>
			</div>
			</div>
		</div>
    
    <div class="clear">
        <div id="logo">
          <a href="{% url index %}">
            <img src="{{ settings.APP_LOGO }}" title="{% trans "back to home page" %}" alt="{{settings.APP_TITLE}} logo"/>
          </a>
        </div>
        <div class="nav">
            <a id="nav_questions"{% ifequal tab "questions" %} class="on"{% endifequal %} href="{% url questions %}" >{% trans "questions" %}</a>
            <a id="nav_tags"{% ifequal tab "tags" %} class="on"{% endifequal %} href="{% url tags %}">{% trans "tags" %}</a>
            <a id="nav_users"{% ifequal tab "users" %} class="on"{% endifequal %} href="{% url users %}">{% trans "users" %}</a>
            <a id="nav_badges"{% ifequal tab "badges" %} class="on"{% endifequal %} href="{% url badges %}">{% trans "badges" %}</a>
            <a id="nav_unanswered"{% ifequal tab "unanswered" %} class="on"{% endifequal %} href="{% url unanswered %}">{% trans "unanswered questions" %}</a>
            <div class="focus">
                <a id="nav_ask" href="{% url ask %}" class="special">{% trans "ask a question" %}</a>
            </div>
        </div>
    </div>
        
		</div>
	</div>
<!-- end template header.html -->
